 header {
     grid-area: header;
     display: flex;
     align-items: center;
     background-color: aliceblue;
 }
 
 header img {
     margin-top: 15px;
     margin-left: 20px;
     margin-bottom: 15px;
     width: 70px;
     border-radius: 10px 0px 10px 0px;
     border: 2px solid rgb(37, 37, 37);
 }
 
 header .title {
     display: flex;
     flex-direction: column;
     margin-left: 11px;
 }
 
 header .title h1 {
     font-family: "Montserrat", sans-serif;
     font-size: 20px;
     width: 80%;
     font-weight: 100;
     color: rgb(37, 37, 37);
     width: 100%;
 }
 
 header .title h3 {
     font-family: "Montserrat", sans-serif;
     font-style: italic;
     font-size: 15px;
     letter-spacing: 4px;
     color: rgb(37, 37, 37);
 }