 main {
     grid-area: main;
     display: flex;
     margin-left: auto;
     margin-right: auto;
     padding: 10px;
     background-color: aliceblue;
     color: rgb(37, 37, 37);
     transition: 0.5s;
 }
 
 main h2 {
     font-size: 18px;
 }
 
 main .main-content {
     width: 80%;
 }
 
 main .main-content section {
     margin-left: auto;
     margin-right: auto;
     padding-bottom: 30px;
 }
 
 .my-profile {
     margin-top: 5px;
     line-height: 18px;
     font-size: 11px;
     margin-top: 5px;
 }