@media(max-width:1000px) {
    .container {
        margin: 0 auto;
        display: grid;
        box-shadow: none;
        grid-template-columns: 100%;
        grid-template-areas: 'header' 'main' 'aside';
    }
    aside {
        flex-direction: row-reverse;
        padding-bottom: 5%;
    }
    main {
        height: 100vh;
    }
    aside {
        height: 100vh;
    }
}

@media(max-width:668px) {
    header {
        flex-direction: column;
    }
    header img {
        margin: 0 auto;
    }
    header .title {
        text-align: center;
    }
}

@media(max-width:500px) {
    .container {
        width: 100%;
    }
}