@media (max-width:1000px) {
    main {
        display: flex;
        flex-direction: column;
    }
    main .main-content article {
        margin-bottom: 0;
    }
    main aside {
        width: 100%;
    }
    main aside article {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    main aside .skill-range-ing {
        margin-bottom: 30px;
    }
}

@media (max-width:600px) {
    header .title h1 {
        font-size: 15px;
    }
    header .title h3 {
        font-size: 10px;
    }
}

@media(max-width:500px) {
    header {
        margin-top: 0;
        width: 100%;
    }
    main {
        width: 100%;
    }
}