* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

body {
    background-color: gray;
}

h2 {
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 20px;
    color: aqua;
}

ul li {
    margin-top: 8px;
    font-size: 11px;
    list-style: none;
}