* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

body {
    background: linear-gradient(45deg, #5a5959, #41b4d4, #1be6c4, aqua);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 60%;
    margin: 1% auto;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 'header aside' 'main aside';
    box-shadow: 20px 20px 0px rgba(240, 248, 255, 0.521);
}

h2 {
    width: 90%;
    font-size: 0.9rem;
    letter-spacing: 3px;
    padding-top: 20px;
}

ul li {
    margin-top: 8px;
    font-size: 0.65rem;
    list-style: none;
}


/* Modo Noturno*/

input {
    display: none;
}

input[type="checkbox"]:checked~main {
    background-color: rgb(37, 37, 37);
    color: aliceblue;
}

input[type="checkbox"]:checked~header {
    background-color: rgb(37, 37, 37);
    color: aliceblue;
}

input[type="checkbox"]:checked body {
    background-color: rgb(37, 37, 37);
}

label {
    top: 5px;
    position: absolute;
    left: 0;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    transition: 0.5s;
}

label:hover {
    background-color: #5a5959;
}