* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

body {
    background: linear-gradient(45deg, #5a5959, #41b4d4, #1be6c4, aqua);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h2 {
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 20px;
    color: aqua;
}

ul li {
    margin-top: 8px;
    font-size: 11px;
    list-style: none;
}